<!--Heredando de la plantilla base.html-->
{% extends "ProyectoWebApp/base.html" %}

<!--Cargando la carpeta static-->
{% load static %}

<!--Abriendo el bloque de contenido-->
{% block content %}
    <!--Formulario renderizado como tabla-->
    <div class="contenedorFormulario">

        <!--Recibiendo la variable que se envía al cargar el formulario con un GET-->
        {% if 'valido' in request.GET %}
            <p style="color: white;">Información enviada correctamente</p>
        {% endif %}

        <form action="" method="POST" style="text-align: center;">
            <!--token de seguridad csrf (Para que no añadan información de manera externa)-->            
            {% csrf_token %}
            <table style="color: white; margin: 20px auto;">{{miFormulario.as_table}}</table>
            <input type="submit" value="Enviar" style="width: 130px;">
        </form>        
    </div>
<!--(Prueba) para ver lo que el usuario ingresa en el formulario-->
<p style="color: white;">{{request.POST}}</p>
{% endblock %}