<!--Heredando de la plantilla base.html-->
{% extends "ProyectoWebApp/base.html" %}

<!--Cargando la carpeta static-->
{% load static %}

<!--Abriendo el bloque de contenido-->
{% block content %}

    {% for post in posts %}

        <section class="page-section clearfix">
            <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="", style="width: 50%;">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4" >
                    <span class="section-heading-lower">{{post.titulo}}</span>
                    <span class="section-heading-upper">{{post.contenido}}</span>
                </h2>
                
                <div style="text-align: left;">
                    Autor: {{post.autor}}
                </div>
                
                </div>
            </div>
            </div>
        </section>

    {% endfor %}

    <!--Sección para clasificar las categorías de los posts-->
    <section>
        <div style="width: 75%; margin: auto; text-align: center; color: white;">
            Categorías: &nbsp; &nbsp; &nbsp;

            {% for post in posts %}
                {% for categoria in post.categorias.all %}
                    <!--Al pulsar la categoría, esta filtra redireccionando a un link-->
                    <a href="{% url 'categoria' categoria.id %}" class="linksCategorias">{{categoria.nombre}}</a> &nbsp; &nbsp; &nbsp;
                {% endfor %}
            {% endfor %}

        </div>
    </section>

{% endblock %}